<!doctype html>
<html>
<head>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Socket.IO</title>

</head>
<body>

<div class="row text-center">

    <div class="col-xs-6">
        <a href="chat"><br>
            <span class="entry-title"> Chat with other users </span><br>
        </a>
    </div>

    <div class="col-xs-6">
        <a href="bot"><br>
            <span class="entry-title"> Chat to a bot</span><br>
        </a>
    </div>

</div>

</body>
</html>